/* =======================================
   样式重置与基本设置
   ======================================= */

   html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #e0e0e0;
}

/* =======================================
   CSS 变量定义
   ======================================= */

:root {
    /* 图片相关变量 */
    --preface-width: 390px;
    --preface-height: auto;
    --preface-top: 90px;
    
    /* ch1图片相关变量 */
    --ch1-width: 700px;
    --ch1-height: auto;
    --ch1-top: -120px;

   /* ch2图片相关变量 */
    --ch2-width: 600px;
    --ch2-height: auto;
    --ch2-top: -80px;
    
    /* 文本相关变量 */
    --text-top: -650px;
    --chapter-margin: 20px;
    --example-width: 300px;

   /* 图表相关变量 */
    --chart1-max-width: 700px;
    --chart1-margin-top: 20px;
    --chart2-max-width: 700px;
    --chart3-max-width: 700px;

 /* 内容宽度变量 */
    --title1-content-width: 832px;
    --title2-content-width: 832px;
    --title3-content-width: 832px;
    --title4-content-width: 832px;
    --title5-content-width: 832px;
    --title6-content-width: 832px;
    --title5-margin-top: 250px;  /* 增加顶部间距 */

    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
    --container-padding: 10px;
}



/* =======================================
   布局与容器样式
   ======================================= */

.main-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* 图片容器样式 */
.preface-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

/* =======================================
   图片样式
   ======================================= */

#preface {
    position: absolute;
    width: var(--preface-width);
    height: var(--preface-height);
    top: var(--preface-top);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#chapter1 {
    position: absolute;
    width: var(--ch1-width);
    height: var(--ch1-height);
    top: var(--ch1-top);
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

#chapter2 {
    position: absolute;
    width: var(--ch2-width);
    height: var(--ch2-height);
    top: var(--ch2-top);
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

/* =======================================
   文本样式
   ======================================= */

.text-content {
    font-size: 18px;
    font-family: Songti-SC;
    text-align: left;
    line-height: 1.8;
    padding: 20px 20px;
    max-width: 832px;
    margin: var(--text-top) auto 0;
    color: #333;
}

/* =======================================
   章节样式
   ======================================= */

.chapter1 {
    width: 100%;
    height: 50%;
    margin-top: var(--chapter-margin);
    text-align: center;
    position: relative;
}

.ch1-image {
    position: relative;
    margin-bottom: var(--chapter-margin);
}

.chapter2{
    width: 100%;
    margin-top: var(--chapter-margin);
    text-align: center;
    position: relative;
}

.ch2-image {
    position: relative;
    margin-bottom: var(--chapter-margin);
}

.chapter3 {
    width: 100%;
    padding: var(--container-padding);
    margin: 30px 0 20px;  /* 减少顶部边距 */
    text-align: center; 
    position: relative;
}

/* 第三章标题图片容器 */
.ch3-image {
    width: 100%;
    margin-bottom: 50px;  /* 增加底部边距 */
    text-align: center;
}

.ch3-image img {
    max-width: 90%;
    height: auto;
    border-radius: var(--border-radius);
}


/* 图表区域 */

/* =======================================
   标题内容样式
   ======================================= */

.title1-content {
    font-size: 18px;
    font-family: Songti-SC;
    line-height: 1.8;
    color: #333;
    margin-top: 330px;
    max-width: var(--title1-content-width);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.title2-content {
    font-size: 18px;
    font-family: Songti-SC;
    line-height: 1.8;
    color: #333;
    max-width: var(--title2-content-width);
    padding: 10px;
    margin: 30px auto;
    text-align: left;
}

.title3-content {
    font-size: 18px;
    font-family: Songti-SC;
    line-height: 1.8;
    color: #333;
    max-width: var(--title3-content-width);
    padding: 10px;
    margin: 30px auto;
    text-align: left;
}

.title4-content {
    font-size: 18px;
    font-family: Songti-SC;
    line-height: 1.8;
    color: #333;
    max-width: var(--title4-content-width);
    padding: 10px;
    margin: 30px auto;
    text-align: left;
}

.title5-content {
    font-size: 18px;
    font-family: Songti-SC;
    line-height: 1.8;
    color: #333;
    max-width: var(--title5-content-width);
    padding: 50px;  
    margin: var(--title5-margin-top) auto 100px;  /* 修改顶部间距 */
    text-align: left;
}

.title6-content {
    font-size: 18px;
    font-family: Songti-SC;
    line-height: 1.8;
    color: #333;
    max-width: var(--title6-content-width);
    padding: 10px;
    margin: -150px auto 0;
    text-align: middle;
}

/* title7 相关样式 */
.title7-content {
    font-size: 18px;
    font-family: Songti-SC;
    text-align: left;
    line-height: 1.8;
    padding: 20px 20px;
    max-width: 832px;
    margin: 50px auto 40px;  /* 减少顶部边距 */
    color: #333;
}

.title7-content p {
    margin: 0;
}

/* title8 相关样式 */
.title8-content {
    font-size: 18px;
    font-family: Songti-SC;
    text-align: left;
    line-height: 1.8;
    padding: 200px 20px;
    max-width: 500px;
    margin: 50px 0 40px 800px;  /* 减少顶部边距 */
    color: #333;
}

.title8-content p {
    margin: 0;
}

/* title9 相关样式 */
.title9-content {
    font-size: 18px;
    font-family: Songti-SC;
    text-align: left;
    line-height: 1.8;
    padding: 20px 20px;
    max-width: 832px;
    margin: 50px auto 0;  /* 减少顶部边距 */
    color: #333;
}

.title9-content p {
    margin: 0;
}

/* =======================================
   示例图片样式
   ======================================= */

.example-image {
    text-align: center;
    margin-top: 30px;
}

#example {
    width: var(--example-width);
    height: auto;
    margin: 0 auto;
}

/* =======================================
   图表样式
   ======================================= */

/* 图表1样式 */
.chart1-container {
    width: 100%;
    margin-top: var(--chart1-margin-top);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart1-container p {
    font-size: 18px;
    font-family: Songti SC;
    line-height: 1.8;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

#chart1 {
    width: 100%;
    max-width: var(--chart1-max-width);
    height: auto;
    display: block;
    margin: 0 auto;
}

/* 图表2样式 */
.chart2 {
    width: 100%;
    margin-top: var(--chart1-margin-top);
    text-align: center;
}

.chart2-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart2-container p {
    font-size: 18px;
    font-family: Songti SC;
    line-height: 1.8;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

#chart2 {
    width: 100%;
    max-width: var(--chart2-max-width);
    height: auto;
    display: block;
    margin: 0 auto;
}

/* 图表3样式 */
.chart3 {
    width: 100%;
    margin-top: var(--chart1-margin-top);
    text-align: center;
}

.chart3-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart3-container p {
    font-size: 18px;
    font-family: Songti-SC;
    line-height: 1.8;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

#chart3 {
    width: 100%;
    max-width: var(--chart3-max-width);
    height: auto;
    display: block;
    margin: 0 auto;
}


#my_dataviz {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: 100px;
}

#graph {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: -100px; /* 添加负边距使其向上移动 */
}

/*定义字体*/
@font-face {
    font-family: 'Songti-SC';
    src: url('../font/SongTi.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* singer容器基础样式 */
.singer1, .singer2, .singer3, .singer4 {
    position: absolute;
    width: auto;
    height: auto;
}

/* 装饰元素基础样式 */
.decoration1, .decoration2, .decoration3, .decoration4 {
    position: absolute;
    width: 100px;
    height: auto;
    left: 50px;
}

/* 内容块基础样式 */
.singer-content1, .singer-content2, .singer-content3, .singer-content4 {
    position: absolute;
    font-size: 18px;
    font-family: Songti-SC;
    line-height: 1.8;
    color: #333;
    left: 50px;  /* 与装饰对齐 */
    text-align: left;
    margin-top: 20px;  /* 与decoration的间距 */
    width: 300px;
}

/* 垂直位置控制 */
.decoration1 { top: 100px; }
.singer-content1 { top: 120px; }  /* decoration1下方30px */

.decoration2 { top: 250px; }
.singer-content2 { top: 270px; }

.decoration3 { top: 400px; }
.singer-content3 { top: 420px; }

.decoration4 { top: 550px; }
.singer-content4 { top: 570px; }

/* 个性化位置控制 */
.singer1 {
    left: 900px;
    top: 1200px;
}

.singer2 {
    left: 100px;
    top: 1800px;
}

.singer3 {
    left:900px;
    top: 2500px;
}

.singer4 {
    left: 100px;
    top: 3150px;
}

/* 段落样式 */
.singer-content1 p,
.singer-content2 p,
.singer-content3 p,
.singer-content4 p {
    margin: 5px 0;
}

#wordcloud {
    position: absolute;  /* 使用绝对定位实现自由位置调整 */
    width: 500px;       /* 设置默认容器宽度 */
    height: auto;
    left: 500px;         /* 水平居中 */
    transform: translateX(-50%);
    top: 400px;        /* 可调整垂直位置 */
}

