/* 基础样式 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

#visualization {
    margin: 0px;
    width: 1200px;
    height: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
}

/* 文字样式 */
.text-label {
    font-size: 14px;
    user-select: none;
    transition: all 0.3s ease;
    font-weight: 500;
    opacity: 0.9;
}

.text-label:hover {
    opacity: 1;
    transform: scale(1.05);
    cursor: pointer;
}

/* 图片容器 */
.image-container {
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}


.comment-layer text.char {
    font-family: Arial, sans-serif;
    font-weight: 500;
    pointer-events: none;
    user-select: none;
}
.image-container image {
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.1));
}
